<h3>Edit Service #<%= @service.id %></h3>

<%= render partial: 'form' %>

<br>
<%= button_to 'Delete Service', service_path(@service), method: :delete, data: {confirm: "Are you sure you want to delete '#{@service.name}'?"} %>
