<h2>Edit Service #<%= @service.id %></h2>

<%= render partial: 'form' %>

<br>
<%= button_to 'Delete', service_path(@service), method: :delete, data: {confirm: "Are you sure you want to delete '#{@service.name}'?"} %>
