<h2>Edit Service ID#<%= @service.id %></h2>

<%= render partial: 'form', locals: {submit_tag: 'Save'} %>

<div class="delete">
    <p><%= button_to 'Delete', service_path(@service), method: :delete, data: {confirm: "Are you sure you want to delete '#{@service.name}'?"} %></p>
</div>
