<h2>Service Details</h2>

Name: <b><%= @service.name %></b><br>
Price: $<%= @service.price%><br>
<%= @service.minutes%> minutes<br>


<br>
<div class="action-link">
    <p><%= link_to 'Edit', edit_service_path(@service) if logged_in? %></p>
</div>
