<h3>Service Details</h3>

<div>
Name: <%= @service.name %><br>
Minutes: <%= @service.minutes%><br>
Price: $<%= @service.price%><br>
</div> 

<p><%= link_to 'Edit', edit_service_path(@service) if logged_in? %></p>
