Login Here:

-- Need to use an API ?
<br><br>

<form method = 'post'>
    Email: <input type name='email'>
    Password: <input type name='password'>
    <input type='submit' value ='Login'>
</form>


<p><%= link_to 'Return to Home', '/' %>