<h2>Edit Client ID#<%= @client.id %></h2>

<%= render partial: 'form', locals: {submit_tag: 'Save'} %>

<div class="delete">
    <p><%= button_to 'Delete', client_path(@client), method: :delete, data: {confirm: "Are you sure you want to delete '#{@client.name}'?"} %></p>
</div>
