<h3>Edit Stylist:</h3>

<%= render partial: "form", locals: {submit_tag: "Save"} %>

<%= button_to 'Delete', stylist_path(@stylist), method: :delete, data: {confirm: "Are you sure you want to delete '#{@stylist.name}'?"} %>