<h2>Edit Stylist ID#<%= @stylist.id %></h2>

<%= render partial: 'form', locals: {submit_tag: 'Save'} %>

<div class="delete">
    <p><%= button_to 'Delete', stylist_path(@stylist), method: :delete, data: {confirm: "Are you sure you want to delete '#{@stylist.name}'?"} %></p>
</div>
