<h3>View All Stylists</h3>

<ul>
<% @stylists.each do |stylist| %>
    <li>
        <%= link_to stylist.name, stylist_path(stylist) %>, Level: <%= stylist.level%>
    </li>
<% end %>
</ul>

<%= link_to 'Create a Stylist', new_stylist_path if logged_in? %>
