<h3>Appointments Calendar</h3>

<%= render partial: 'all_appointments_data' if params[:stylist_id].nil? %>

<%= render partial: 'stylist_appointments' if params[:stylist_id] %>

<br>

<%= render 'calendar' %>